.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-orange {
  color: orange;
}

.logo-black {
  color: black;
}

.icon {
  display: flex;
  margin-left: auto; /* 아이콘을 오른쪽 끝으로 정렬 */
}

.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
