.stock-container {
  position: relative;
  padding: 16px;
}

.stock-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.stock-list {
  background: white;
  border-radius: 8px;
  width: 80%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stock-list::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}

.stock-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
}
.stock-item:hover{
  opacity: 0.8;
}
.stock-info {
  display: flex;
  align-items: center;
}

.stock-rank {
  color: blue;
  font-weight: bold;
  font-size: 18px;
  margin-right: 8px;
}

.stock-name {
  font-weight: 600;
  color: #333;
}

.stock-price {
  text-align: right;
}

.stock-change {
  font-weight: bold;
  margin-left: 8px;
}

.stock-change.up {
  color: red;
}

.stock-change.down {
  color: blue;
}

.stockList-image {
  width: 50px;
  height: auto;
  align-self: self-end;
  margin-right: 15%;
  transform: scaleX(-1);
}

.stockList-image img {
  margin-right: 10px; /* 텍스트와 간격 */
}

.clickable {
  cursor: pointer; /* 클릭할 수 있도록 변경 */
}
